body {
    background: #333;
    width: 100%;
    height: 100%;
}

.box {
    background: url("images/guts-red.jpg") ;
    width: 600px;
    height: 600px;
    position: relative;
    margin: auto;
    top: 200px;
    transition-property: all;
    
}

.box:hover {
    background: url(images/guts-blue.jpg);
    transform: rotatey(180deg);
}