@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--back-color: #1d3557;
	--container-color: #e63946;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--back-color);
	font-family:"Roboto",sans-serif;
}

a,
a:visited {
	text-decoration: none;
	color: white;
}

a:active {
    transform: scale(1.5);
}

.container {
	background-color: var(--container-color);
	border: 2px solid black;
	text-align: center;
	margin-bottom: 15px;
	padding: 15px 25px;
	font-weight: bold;
}


