/*Styles to build a grid of 4 rows and 3 columns.*/

body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    /*To create the grid for our items, we have to set the rows and columns that will contain them. 
    In this case we have 12 items so we'll make a grid that has 4 columns and 3 rows. 
    The repeat function creates a number of rows or columns based on the first parameter, 
    and makes their width equal to the second parameter.*/
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(3, 120px);
    /*justify-content and grid-gap work the same way as with flexbox.*/
    justify-content: center;
    grid-gap: 10px;

}

.item {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3rem;
}
.item-1 {
    background-color: #f94144;
}
.item-2 {
    background-color: #277da1;
}
.item-3 {
    background-color: #f3722c;
}
.item-3 {
    background-color: #577590;
}
.item-4 {
    background-color: #f8961e;
}
.item-5 {
    background-color: #4d908e;
}
.item-6 {
    background-color: #f9844a;
}
.item-7 {
    background-color: #43aa8b;
}
.item-8 {
    background-color: #f9c74f;
}
.item-9 {
    background-color: #90be6d;
}
.item-10 {
    background-color: #1b9aaa;
}
.item-11 {
    background-color: #f15bb5;
}
.item-12 {
    background-color: #f4a259;
}
