* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

details {
  border: 1px solid lightgreen;
  border-radius: 5px;
  max-width: 300px;
  padding: 5px 10px;
}

summary {
  width: 200px;
  margin-left: 15px;
  list-style: "❄️";
}

details[open] > summary {
  list-style: "🔥";
}

details p {
  margin: 15px;
}

.sep {
  margin-left: 10px;
}
details {
  overflow: hidden;
}
details summary {
  position: relative;
  z-index: 10;
}

.answer {
  opacity: 0;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

details[open] summary ~ * {
  color: #111;
  animation: sweep 0.5s ease-in-out;
}
