body-color = hsl(210deg 30% 12%)
blue-color = #3456f2
red-color = #f25634
green-color = #56f234
purple-color = #c911ff
// Variable declaration uses the equal sign,
white-color = #ddd

// Mixins

// They work similar to a function; they have names, 
// arguments and can be called whenever needed.

// In this case, border-radius has a default value of 25%
//  that can be changed when called.
border-radius(radius = 25%)
    -webkit-border-radius radius
    border-radius radius


html, body
    min-height: 100vh
    min-width: 100vw
    overflow: hidden

body
    background-color: body-color
    display: flex
    justify-content: center
    align-items: center

    #container
        min-width: 400px
        min-height: 400px
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(2, 1fr)
        gap: 10px

    .box
        display: flex
        align-items: center
        justify-content: center
        color: white-color
        // * @color sets the color of the border to be equal to the value of the text.
        border: solid 1px @color
        border-radius()

    .box-1
        background-color: blue-color
        font-size: (20rem / 20rem)

    .box-2
        background-color: red-color

    .box-3
        background-color: green-color

    .box-4
        background-color: purple-color